body {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
  gap: 0.5rem;
}

.flex-row {
  flex-direction: row;
  gap: 1.5rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.card {
  display: flex;
  height: 3rem;
}

.card img {
  border: 1px solid rgb(39, 38, 38);
  width: 3rem;
}

.users-list {
  list-style: none;
  padding: 0;
}

.user-blog-username {
  font-size: 24px;
  font-weight: 600;
  justify-content: center;
}

.user-blog-posts {
  justify-content: flex-end;
}

.numbers-size {
  font-size: 12px;
}

.users-view-section {
  margin: 0 5%;
  padding: 1% 2%;
}

.button {
  padding: 1rem;
  font-weight: 600;
  background: #0076ff;
  color: #fefefe;
  text-decoration: none;
  border-radius: 4%;
}

.button-control {
  padding-top: 5%;
}

.success-notice {
  color: green;
  font-size: 2rem;
}

footer {
  padding-top: 5% !important;
}
